{% extends "layouts/main.html" %}

{% set pageName="Check your phone" %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({href: "/enter-password"}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <div class="govuk-inset-text">
      <p class="govuk-body">We have sent a code to your phone number ending with <b>9735</b></p>
    </div>

    <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

    <form action="/juggling-task-list" method="post">
      {{ govukInput({
        label: {
          text: "Enter the 6 digit security code"
        },
        id: "code",
        name: "code",
        type: "text",
        autocomplete: "one-time-code",
        spellcheck: false,
        classes: "govuk-input--width-10",
        inputmode: "numeric"
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

    {{ govukDetails({ summaryText: "Problems with the code?", html: '<p class="govuk-body">We can <a href="/resend-code-create-account?isResendCodeRequest=true" class="govuk-link" rel="noreferrer noopener">send the code again</a> or you can <a href="/enter-phone-number" class="govuk-link" rel="noreferrer noopener">use a different phone number</a>.</p>
    <p class="govuk-body">
      <a href="/get-security-codes" class="govuk-link" rel="noreferrer noopener">Get a code another way</a>.
    </p>' }) }}

    </div>
  </div>
{% endblock %}
