{% extends "layouts/main.html" %}

{% set pageName="Enter your email address to sign in to your GOV.UK One Login " %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({href: "/sign-in"}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="/enter-password" method="post" novalidate>

      {{ govukInput({
        label: {
          text: pageName,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({ text: "Continue"}) }}

    </form>

    </div>
  </div>
{% endblock %}
