{% extends "layouts/main.html" %}

{% set pageName="Choose how to get security codes" %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="/enter-phone-number" method="post" novalidate>

      {{ govukRadios({
        name: "2faMethod",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "To finish creating your GOV.UK One Login, choose a way to prove it’s you when you sign in."
        },
        items: [
          {
            value: "sms",
            text: "Text message"
          },
          {
            value: "app",
            text: "Authenticator app for smartphone, tablet or computer"
          }
        ]
      }) }}

      {{ govukDetails({ summaryText: "What is an authenticator app?", html: '<p class="govuk-body">An authenticator app creates a security code that helps confirm it’s you when you sign in.</p><p class="govuk-body">You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p>'  }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

    </div>
  </div>
{% endblock %}
