{% extends "layouts/main.html" %}

{% set pageName="Sign in" %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({href: "/sign-in"}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Create a GOV.UK One Login or sign in</h1>

      <p class="govuk-body">You’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>

      {{ govukInsetText({
        html: 'You can also <a href="?lng=cy" class="govuk-link" rel="noreferrer">use GOV.UK One Login in Welsh <span lang="cy">(Cymraeg)</span></a>.'
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Create a GOV.UK One Login", href: "/enter-email-create" }) }}

        {{ govukButton({ text: "Sign in", classes: "govuk-button--secondary", href: "/enter-email-sign-in"}) }}
      </div>

      {{ govukDetails({ summaryText: "About GOV.UK One Login" }) }}

    </div>
  </div>
{% endblock %}
